.voiture{
    font-size: 25em !important;
    color:red;
}
.search{
    position: relative;
    left: -20px;
    color: gray;
    background-color: lightgray;
}

.search2::after{
    content: '\f002';
    font: normal normal normal 14px/1 FontAwesome;
    color: gray ;
    position: relative;
    left: -20px;
    /*
    https://fontawesome.com/v4/cheatsheet/
    http://mehditmimi.epizy.com/examGIGroupe2/exam2gi/
    */
}
