*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
body{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color:white;
}
header h1{
    margin: 20px 40px;
    font-size: 5em;
    text-transform: uppercase;
}
header ul{
    display: flex;
}
header li{
    display: block;
    font-size: 2em;
    padding: 10px 30px;
    text-transform: capitalize;
    transition-duration: 1s;
}
header li:hover{
    color: black;
    background: white;
    margin-right: 20px;
}
header nav a{
    color: inherit;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/bg.jpeg);
    flex:1;
    background-size: cover;
}
main h1{
    font-size: 7em;
    text-transform: uppercase;
}
main p{
    width: 70%;
    font-size: 2em;
    background: rgb(162 154 154 / 50%);
    padding: 20px;
    text-align: justify;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    font-size: 2em;
    padding: 20px;
}